[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-jquery"]
	path = bundle/vim-jquery
	url = git://github.com/itspriddle/vim-jquery.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/jg/bufexplorer.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = git://github.com/clones/vim-l9.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-unimpared"]
	path = bundle/vim-unimpared
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-ruby-sinatra"]
	path = bundle/vim-ruby-sinatra
	url = git://github.com/stask/vim-ruby-sinatra.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = git://github.com/cfurrow/vim-fuzzyfinder.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
